:root {
    --raleway: 'Raleway', sans-serif;
    --c-blue: #4D5AE5;
    --c-black: #2E2F42;
    --c-gray: #434455;
    --c-white: #FFFFFF;
    --bgr-white: #FFFFFF;
    --bgr-gray: #434455;
    --bgr-light-blue: #F4F4FD;
    --bgr-blue2: #404BBF;
    --bgr-blue: #4D5AE5;
    --c-border: #6495ed;
    --c-prtf-border: #E7E9FC;
    --bgr-black: #2E2F42;
    --border-c-icon: #8E8F99;
    --c-green-icon: #31D0AA;
    --c-checkbox-text: #757575;

    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);



}

.list {
    list-style: none;
    text-decoration: none;

}

.link {

    text-decoration: none;
    font-family: 'Roboto';

}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}



body {

    font-family: 'Roboto',
        sans-serif;
    color: var(--c-black);

}


.container {
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:768px){
    .container{
        max-width: 768px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

.header-container {
    display: flex;



}


.section {


    padding-bottom: 96px;
    padding-top: 96px;

}


@media (min-width:768px){
    .section {
    
            padding-bottom: 120px;
            padding-top: 120px;
    
        }
}


    


.section-border {
    border-bottom: 1px solid var(--c-border);

}

.nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    /* gap: 76px; */
}
@media screen and (min-width:768px) {
    .nav {
        display: flex;
            flex-grow: 1;
            align-items: center;
            /* gap: 120px; */
    }
}

@media screen and (min-width:1200px) {
    .nav {
    display: flex;
        flex-grow: 1;
        align-items: center;
        /* gap: 76px; */
    }
}



.header-hide{
    display: none;
}
@media screen and (min-width:768px) {
    .header-hide {
        display: contents;
    }
}
@media screen and (min-width:1200px) {
    .header-hide {
        display: contents;
    }
}




.new-logo {
    color: var(--c-black);
}



.logo {
    font-family: var(--raleway);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    color: var(--c-blue);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    


}

@media screen and (min-width:768px) {
    .logo {
        margin-right: 120px;
    }
}

@media screen and (min-width:1200px) {
    .logo {
        margin-right: 76px;
    }
}




.header-list {
    position: relative;

    display: flex;
    padding: 24px 0;
    gap: 40px;


}

.contacts-list{
    display: flex;
    margin-left: auto;
    
}

@media  (min-width:768px) and (max-width:1200px) {
    .contacts-list{
        max-width :120px; 
        flex-wrap: wrap;
        gap: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
@media (min-width:1200px) {
    .contacts-list {
    
    
        gap: 40px;
        padding: 24px 0;
        
       

    }
}








.header {
    
    border: 1px solid var(--c-prtf-border);
}
@media screen and (min-width:768px) {
    .header {
    padding-top: 0px;
    padding-bottom: 0px;
    }
}

@media screen and (min-width:1200px) {
    .header {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.header-link {
    position: relative;
    padding: 24px 0;


    font-weight: 500;
    font-size: 16px;
    line-height: 1.28;
    letter-spacing: 0.02em;
    color: var(--c-black);
    transition: color var(--transition);


}






.current {
    color: var(--c-blue);
}

.header-link.current::after {
    position: absolute;
    bottom: 0;



    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: currentColor;
    border-radius: 2px;

}


.header-link:hover,
.header-link:focus {
    color: var(--c-blue);


}












.address {}

/* .adress-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.28;
    letter-spacing: 0.02em;
    color: var(--c-gray);
    transition: color var(--transition);

} */
.adress-link{
    display: none;
}

@media (min-width:768px)  {
    .adress-link {
        display: contents;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        color: var(--c-gray);
        transition: color var(--transition);
    }
}
@media (min-width:1200px){
    .adress-link{
        min-width: 150px;
        font-style: normal;
        font-size: 16px;
        line-height: 1.28;
        letter-spacing: 0.02em;
        color: var(--c-gray);
        transition: color var(--transition);
    }
}


.adress-link:hover,
.adress-link:focus {
    color: var(--c-blue);


}



.button-mobile-menu{
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    background-color: transparent;
    border: none;
       

}

.icon-mobile-menu{
    display: block;
    width: 32px;
    height: 22px;
    stroke: #2E2F42;
}


@media screen and (min-width:768px) {
    .button-mobile-menu {
        display: none;
    }
}

@media screen and (min-width:1200px) {
    .button-mobile-menu {
        display: none;
    }
}


.mobile-menu{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    max-width: 428px;
    max-height: 796px;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 35px; 
    transform: translateX(100%);
    transition: transform var(--transition);


    background-color: var(--c-white);
}




@media (min-width:768px){
    .mobile-menu{
            /* display: none; */
    }
}

.mobile-menu.is-open{
    transform: translateX(0);
}

.menu-close{
    position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
    
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--c-prtf-border);
        transition: transform var(--transition),
            opacity var(--transition), visibility var(--transition),
            backgrund-color var(--transition);
    
        border: 1px solid rgba(0, 0, 0, 0.1);
}
.menu-svg{
    position: absolute;
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
    
    
        transition: fill var(--transition);
}
.mobile-link{
    font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--c-black);
}
.current-menu{
    color: var(--bgr-blue);
}

.tel-menu-link{
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        
        letter-spacing: 0.02em;
        display: block;
        max-width: 355px;
        width: 100%;
        margin-bottom: 40px;
        margin-top: 284px;

        color: var(--bgr-blue);
}

.adress-menu-link{
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        color: var(--c-black);
        display: block;
        margin-bottom: 48px;
}
.list-menu{
    margin-bottom: 40px;
}
.list-menu:last-child{
    margin-bottom: 0px;
}
.adress-menu-list{}
.menu-list-icon{
    display: flex;
    gap: 56px;
}

/* --------------Hero------------------------ */









.hero{
    background-image:linear-gradient(0deg,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/people-office-480.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;  

       
                
            
}


@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image:
            linear-gradient(0deg,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-480-@2x.jpg);
    }
}

@media (min-width:768px) {
    .hero{
        background-image: linear-gradient(0deg,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office-768.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
            background-image:
                linear-gradient(0deg,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/Dark-768-@2x.jpg);
        }
}
    

@media (min-width:1200px){
    .hero {
            max-width: 1440px;
            padding-bottom: 188px;
            padding-top: 188px;
            margin: 0 auto;
            background-image: linear-gradient(0deg,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office.jpg);
    
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    
    
        }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image:
            linear-gradient(0deg,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-1200-@2x.jpg);
    }
    }

.hero-text{
    text-align: center;

    margin: 0 auto;
    margin-bottom: 72px;
    max-width: 320px;
    font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
    color: var(--c-white)
    
}

@media (min-width:768px) {
    .hero-text{
        max-width: 496px;
        font-size: 56px;
            line-height: 1.07;
            text-align: center;
            letter-spacing: 0.02em;    
            color: #FFFFFF;
    }
    
}
@media (min-width:1200px) {
    .hero-text {
            max-width: 496px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 48px;
    
    
    
    
            font-size: 56px;
            line-height: 1.1;
            letter-spacing: 0.02em;
            color: var(--c-white)
        }
}



.hero-button {




    display: block;
    padding: 16px 32px;
    margin: 0 auto;



    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--c-blue);
    color: var(--c-white);
    border: 1px solid var(--bgr-blue);
    border-radius: 4px;
    transition: background-color var(--transition), box-shadow var(--transition);


}


.hero-button:hover,
.hero-button:focus {
    background-color: var(--bgr-blue2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


}






/* -----------------About-section--------------------- */





.about-section {
    padding-bottom: 96px;
    
}


.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.icons-about-list {
    display: none;

}

@media (min-width:768px){
    .icons-about-list {
        display: none;
    
        }
}



@media (min-width:1200px) {
    .icons-about-list {
            display: flex;
            gap: 24px;
    
        }
}


.about-list {
    
    
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px) {
    .about-list {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
        }
}
@media (min-width:1200px) {
    .about-list {
        flex-wrap: nowrap;
        
    }
}



.icons-about-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;

    border-radius: 4px;
    background-color: var(--bgr-light-blue);
}




.icons-about-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

}

.about-svg {
    display: block;
    width: 64px;
    height: 64px;

}






.about-list-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    margin-top: 8px;




    font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
    color: var(--c-black);
}
@media (min-width:1200px)  {
    .about-list-title{
        font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
    }
}

.about-list-item{
    margin-bottom: 72px;
}
.about-list-item:last-child{
    margin-bottom: 0px;
}
@media (min-width:768px) {
    .about-list-item{
        
        width: calc( ( 100% - 24px ) / 2);
        margin-bottom: 0px;
    }
   
}
@media (min-width:1200px) {
    .about-list-item {
        
        width: 100%;
        margin-bottom: 0px;
    }

}

.about-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--c-black)
}





/* -------work-section-------------- */
.work-section {
    display: none;
}

@media (min-width:1200px) {
    .work-section {
        padding-bottom: 120px;
        display: contents;
    }
    
}



    .work-title {
            display: contents;
            margin-bottom: 72px;
            display: block;
            text-align: center;
    
    
    
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            color: var(--c-black)
        }





    .work-list {
        display: contents;
            display: flex;
            gap: 24px;
    
        }




    .work-list-item {
    
            flex-basis: calc((100% - 48px) / 3);
    
    
        }





    .work-list-photo {
            display: block;
            max-width: 100%;
            height: auto;
        }



/* ----------------------our-team-------------------- */






.our-team {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--bgr-light-blue)
}


.team-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;


    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--c-black)
}



.team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
}
@media (min-width:768px) {
    .team-list {
        
        gap: 24px;
        
        padding-left: 16px;
        padding-right: 16px;
        
    }
}

@media (min-width:1200px){
    .team-list {
            flex-wrap: nowrap;
            padding-left: 16px;
            padding-right: 16px;
        }
}


.team-list-icon{
    display: flex;
    gap: 24px;
    padding-left: 16px;
    padding-right: 16px;
}
.team-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 264px;
    

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

@media (max-width:767px){
    .team-list-item:not(:last-child) {
            margin-bottom: 72px;
        }
}


@media (min-width:768px){
    .team-list-item{
        
        width: calc((100% - 24px) / 2);
    }
}
@media (min-width:1200px){
    .team-list-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 72px;
            width: calc((100% - 48px) / 3);
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
            border-radius: 0px 0px 4px 4px;
        }
}



.icon-list-item {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--c-blue);
    width: 40px;
    height: 40px;

}

.social-link:hover,
.social-link:focus {
    background-color: var(--bgr-blue2);

}




.team-photo {}

.team-top {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-name {
    margin-bottom: 8px;


    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--c-black);
}

.team-list-text {
    margin-bottom: 8px;


    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--c-gray);
}

.socials-icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
    display: block;



}

.social-link {
    color: var(--c-white);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color var(--transition);

}

.icon-list-social {
    flex-basis: calc((100% - 72px) / 4);
    text-align: center;
    border-radius: 50%;
    background-color: var(--bgr-gray);




}

/*----------Customers-----------------------------
-------------------------------------------------- */

.customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
}
@media (min-width:1200px) {
    .customers-section {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 72px;

}
@media (min-width:768px) {
    .customers-list{
    gap: 24px;
    }
}


.customers-link {
    color: var(--border-c-icon);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-c-icon);
    border-radius: 4px;
    transition: border var(--transition), color var(--transition);

}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid var(--bgr-blue2);
    color: var(--bgr-blue2);

}

.customers-icon-item {
    width: 190px;
    height: 88px;
    width: calc((100%- 24px) / 2);

}
@media (min-width:768px) {
    .customers-icon-item {
            width: 168px;
            height: 88px;
            width: calc((100%- 48px) / 3);
        }
}


.customers-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
        letter-spacing: 0.02em;
    
        color: var(--bgr-black);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .customers-svg {
        fill: currentColor;
        display: block;
        width: 104px;
        height: 56px;
    
    
    }
    
    
    
    /* --------------------------FOOTER--------------------- */
    
    
    .footer {
        background-color: var(--bgr-black);
    
    
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .footer-container {
        position: relative;
        
    }


    @media (min-width:768px) {
        .footer-container {
                
                
            }
        
    }
    @media (min-width:1200px) {
            .footer-container {
    
                display: flex;
                
                justify-content: center;
            }
    
        }
    
    .logo-foot{
        text-align: center;
        margin-bottom: 72px;
    }
    @media (min-width:768px){
        .logo-foot{
            text-align: start;
            margin-bottom: 0px;
        }
    }
    
    .footer-logo {
    
    
    
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--c-white)
    }
    
    .footer-text {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 268px;
        margin-top: 16px;
    
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--c-white)
    }
     @media (min-width:768px) {
             .footer-text {
                 width: 264px;
    
             }
         }

    
    .footer-list {
        display: flex;
        gap: 24px;
        justify-content: center;
    
    }
   
    .footer-tablet {

    }



    @media (min-width:768px){
            .footer-tablet {
                display: flex;
                
                margin-bottom: 72px;
            }
        }

    @media (min-width:1200px) {
             .footer-tablet {
                
                 margin-bottom: 0px;
             }
         }
    
    
    
    .socials-footer {
        width: 24px;
        height: 24px;
        fill: currentColor;
        display: block;
    
    
    }
    
    .social-media {
        margin-left: auto;
       
        margin-bottom: 72px;
    }

    @media (min-width:768px) {
        .social-media {
                margin-left: 24px;
                margin-bottom: 0px;
            }
    }
    @media (min-width:1200px) {
        .social-media {
                margin-left: 120px;
            }
        }
    
    .social-link-footer {
    
        color: var(--c-white);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transition: background-color var(--transition);
    }
    
    .social-text {
       text-align: center;
        margin-bottom: 16px;
    
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    
        color: var(--c-white)
    }
    @media (min-width:768px){
        .social-text {
            text-align: start;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 16px;

            }
    }


    
    .icon-list-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 50%;
        background-color: var(--bgr-gray);
    
        width: 40px;
        height: 40px;
    
    }
    
    .social-link-footer:hover,
    .social-link-footer:focus {
        background-color: var(--c-green-icon);
    
    }
    
    
    .logo-link {
        display: block;
        height: 22px;
    }
    .form-message{
        display: block;
        
        
       
    }
    @media (min-width:1200px) {
        .form-message {
            
               margin-left: 80px; 
        
            }
    }

    .label-message{
        display: block;
        margin-bottom: 16px;
        text-align: center;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--c-white);
        
            
    }
        @media (min-width:768px) {
            .label-message {
                text-align: start;
            }
        }
    .subscribe{
       
    }

    @media (min-width:768px){
        .subscribe {
                display: flex;
                align-items: center;
                
                gap: 24px;
            }
    }
    .input-message{
        display: block;
        width: 100%;
        margin-bottom: 16px;
        outline: none;
        
        height: 40px;
        padding: 8px 16px;
        border: currentColor;
        color: var(--c-white);
        border: 1px solid rgba(255, 255, 255, 0.3);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            background-color: transparent;
            transition: border var(--transition);
    }
    @media (min-width:768px){
        .input-message{
            max-width: 264px;
            margin-bottom: 0px;
        }
    }




    .input-message:focus{
        border: 1px solid var(--bgr-blue);

    }
   


   
    .button-message{
        margin: 0 auto;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        
        
        width: 165px;
        height: 40px;
        
        padding: 8px 24px;
        cursor: pointer;




        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border-radius: 4px;
        color: var(--c-white);
        border: 1px solid var(--bgr-blue);
        background-color: var(--bgr-blue);
        border-radius: 4px;

        transition: background-color var(--transition), box-shadow var(--transition);   
    }

    @media (min-width:768px) {
            .button-message {
                
                margin: 0px;
            }
        }

    .button-message:hover,
    .button-message:focus{
        background-color: var(--bgr-blue2);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  



    .socials-message{
        
        width: 24px;
        height: 24px;
            fill: currentColor;
        
    }
    
    
    /* ----------------------PORTFOLIO----------------------------------
     */
    
    
    .portfolio-title {}
    
    .porfolio-btn-list {
        display: flex;
        justify-content: center;
        margin-bottom: 72px;
        gap: 24px;
    
    
    }
    
    .portfolio-section {
        padding-top: 96px;
    }
    
    
    .portfolio-btn-item {
    
        transition: color var(--transition),
            background-color var(--transition),
            box-shadow var(--transition);
    }
    
    
    
    .portfolio-btn-item:hover,
    .portfolio-btn-item:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    
    
    }
    
    .portfolio-btn {
    
        padding: 12px 24px;
        text-align: center;
    
    
    
    
        font-family: 'Roboto';
        border: 1px solid #E7E9FC;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--c-blue);
        cursor: pointer;
        background: var(--bgr-light-blue);
        transition: color var(--transition),
            background-color var(--transition),
            box-shadow var(--transition);
    }
    
    
    
    .portfolio-btn:hover,
    .portfolio-btn:focus {
    
        color: var(--c-white);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        background: var(--bgr-blue);
    
    
    }
    
    
    .portfolio-cards-list {
    
        display: flex;
        justify-content: center;
        gap: 24px;
        flex-wrap: wrap;
    
    }
    
    .cards-item {
    
        flex-basis: calc((100% - 48px) / 3);
        cursor: pointer;
        transition: box-shadow var(--transition);
    
    
    
    }
    
    .cards-item:hover {
    
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
    }
    .cards-photo:focus {
    
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
        }
    
    .cards {
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 16px;
        border-bottom: 1px solid var(--c-prtf-border);
        border-left: 1px solid var(--c-prtf-border);
        border-right: 1px solid var(--c-prtf-border);
    
    
    }
    
    
    .cards-photo {
    
        display: block;
        height: auto;
        transition: box-shodow var(--transition);
    }
    
    .cards-image {
        position: relative;
        overflow: hidden;
    }
    
    
    .cards-description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
    
    
        width: 360px;
        height: 300px;
        text-align: center;
        padding-top: 40px;
        padding-left: 32px;
        padding-right: 32px;
        transition-property: (transform, transition-duration, transition-timing-function);
            transition: transform var(--transition);
            background-color: var(--bgr-blue);
        }
        
        .cards-item:hover .cards-description {
            transform: translateY(0);
        
        }
        
        .description-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--c-white);
        
        }
        
        
        
        
        .cards-title {
        
            margin-bottom: 8px;
        
        
        
        
        
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--c-black)
        }
        
        .cards-text {
            margin: 0 auto;
        
        
        
        
        
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--c-gray);
        }
        
        
        .backdrop {
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 15px;
            width: 100%;
            height: 100%;
            transition: transform var(--transition),
                opacity var(--transition), visibility var(--transition),
                backgrund-color var(--transition);
            background-color: rgba(46, 47, 66, 0.4);
        
        }
        
        .modal {
            position: relative;
            width: 100%;
            height: 100%;
            max-width: 392px;
            max-height: 586px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        
            transition: transform var(--transition),
                opacity var(--transition), visibility var(--transition),
                backgrund-color var(--transition);
        
            border-radius: 4px;
            background-color: var(--bgr-white);
        }
        
        @media (min-width:768px){
            .modal{
                max-width: 408px;
                max-height: 586px;
            }
        }
        @media (min-width:768px) {
            .modal {
                max-width: 408px;
                max-height: 584px;
            }
            }




        .modal-close {
            position: absolute;
            top: 24px;
            right: 24px;
            width: 24px;
            height: 24px;
        
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: var(--c-prtf-border);
            transition: transform var(--transition),
                opacity var(--transition), visibility var(--transition),
                backgrund-color var(--transition);
        
            border: 1px solid rgba(0, 0, 0, 0.1);
        
        }
        
        .modal-close:hover {
            cursor: pointer;
            background-color: var(--bgr-blue);
            fill: var(--c-white);
        
        }
        
        .modal-svg {
            position: absolute;
            
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 8px;
            height: 8px;
        
           
            transition: fill var(--transition);
        }
       
        .backdrop.is-hidden .modal {
            transform: scale(0);
                }
        
        
        
        .backdrop.is-hidden {
            opacity: 0;
            visibility: hidden;
        
            pointer-events: none;
        }

    .form-contact{
        padding: 72px 24px 24px 24px;
    }




    .modal-title{
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
            
        }
   

    .form-contact{

        font-weight: 400;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.04em;
        
           
    }
    .contact-form{
        position: relative;
        margin-bottom: 8px;
       

    }
        .form-input {
            outline: none;
            position: relative;
    
    
            width: 100%;
            border-radius: 4px;
            height: 40px;
            padding-left: 38px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            transition: border var(--transition);
    
        }
    
        .icon-form {
            position: absolute;
            top: 11px;
            left: 16px;
    
            width: 18px;
            height: 18px;
            fill: var(--c-black);
            transition: fill var(--transition);
        }
    
    
        .form-input:focus {
            border: 1px solid var(--bgr-blue);
        }
    
    
        .form-input:focus+.icon-form {
    
            fill: var(--bgr-blue);
        }
   
    .form-label {
        
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        
        
        display: block;
        margin-bottom: 4px;
        color: var(--border-c-icon);

        
       
    }
    .input-box{
        position: relative;
    }

    
       
    
   
    
    .email {}

    .icon-form-next{
    position: absolute;
    top: 8px;
    left: 16px;
    width: 18px;
    height: 24px;


    fill: var(--c-black);
    transition: fill var(--transition);
    }

    .form-input:focus+.icon-form-next {
    
        fill: var(--bgr-blue);
    }

    .comment-label{
            
            font-size: 12px;
            line-height: 1.17px;
            letter-spacing: 0.01em;
            color: var(--c-checkbox-text);
    }
   
    .form-comment{
        outline: none;
        margin-top: 4px;
        width: 100%;
        border-radius: 4px;
        resize: none;
        height: 120px;
        border-radius: 4px;
        padding: 8px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        transition: border var(--transition);
        

    }
    .form-comment:focus{
        border: 1px solid var(--bgr-blue);
    }
    
    
    .input-checkbox{
       
        appearance: none;
        position: absolute;
        width: 0;
        height: 0;
    }
   

    .span-check{
        
    position: absolute;
    top: 0;
    left: 0;
     width: 16px;
     height: 16px;
    border: 1.25px solid var(--bgr-black);
    border-radius: 2px;
    transition: background-image var(--transition),
        background-color var(--transition),
        background-repeat var(--transition), 
        background-position var(--transition), 
        border-color var(--transition);
    }
    .input-checkbox:checked + .span-check{
        background-image: url(../images/click-checkbox.svg);
        background-color: var(--bgr-blue);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-color: transparent;
    }


    

    .label-checkbox{
        position: relative;
        padding-left: 24px;
    }
    .flex-checkbox{
        position: relative;
        display: flex;
        margin-top: 16px;
        

    }
    .form-button{
    outline: none;
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    cursor: pointer;



            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;

            
        width: 159px;
        height: 56px;
        background-color: var(--c-blue);
        color: var(--c-white);
        border: 1px solid var(--bgr-blue);
        border-radius: 4px;
        transition: background-color var(--transition), box-shadow var(--transition);
    }

    .form-button:hover,
    .form-button:focus {
        background-color: var(--bgr-blue2);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    }
